<div class="flex h-screen w-screen">
  <div class="auth-bg bg-primary hidden flex-1 items-center justify-center bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Welcome to Dynamic Module Creation"</h1>
      <p class="text-xs font-light">
        Securely authenticate to access the Dynamic Module Creation platform. Experience fast, efficient, and productive
        user management with our advanced authentication system.
      </p>
    </div>
  </div>
  <div class="bg-background flex flex-1 items-center justify-center">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center gap-3">
        <a class="bg-primary rounded-sm p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md text-foreground font-bold"> Dynamic Module Creation </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
