<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Forgot Password <span class="text-primary">?</span></h2>
    <p class="text-muted-foreground text-sm">Enter your email to reset your password.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="form__group">
      <div class="relative">
        <input
          type="text"
          id="email"
          [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="peer block py-4"
          placeholder=" "
          formControlName="email" />
        <label
          for="email"
          [ngClass]="{ 'peer-focus:text-destructive!': submitted && f['email'].errors }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
          Email address
        </label>
      </div>
      <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
        <div *ngIf="f['email'].errors['required']">Required field</div>
        <div *ngIf="f['email'].errors['email']">Email must be an email address valid</div>
      </div>
    </div>

    <!-- <div class="relative">
      <input type="text" id="email" class="peer block" placeholder=" " />
      <label
        for="email"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Email address
      </label>
    </div> -->
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium"
        ><span
          *ngIf="loading"
          class="mr-2 inline-block h-4 w-4 animate-spin rounded-full border-b-2 border-white"></span>
        {{ loading ? 'Submiting...' : 'Submit' }}</app-button
      >
    </div>
    <div class="w-full">
      <app-button routerLink="/auth/login" full impact="bold" tone="light" shape="rounded" size="medium">
        Cancel
      </app-button>
    </div>
  </div>
</form>
